data/raw/
data/processed/
*.csv
!outputs/ab_test_sample_size_scenarios.csv
*.7z
*.zip
*.rar
*.db
*.sqlite
*.sqlite3
*.pyc
*.tmp
*.log
.env
.env.*
__pycache__/
.ipynb_checkpoints/
powerbi/**/.pbi/
*.abf
